$color__deep-sky-blue: #00BFFF;
$color__jet: #414141;
$color__white-smoke: #F5F5F5;
$color__snow: #FFFFFF;
$color__light-grey: shade($color__white-smoke, 14%);

$color__background-body: #414141;
$color__background-hr: #E0E0E0;
$color__background-button: #5A5A5A;
$color__background-button-hover: #9E8A4F;

$color__text-main: #1b1b1b;
$color__text-input: #555555;
$color__text-input-focus: #242424;
$color__link: #1b1b1b;
$color__link-hover: #00BFFF;
$color__link-visited: #1b1b1b;

$color__border-input: #DEDEDE;
$color__border-input-focus: #9E8A4F;
$color__background-input: #FFFFFF;
