// Legacy support
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

// Experimental support
$experimental-support-for-opera: false;

// Layout
$breakpoint__sm: 768px;
$breakpoint__md: 992px;
$breakpoint__lg: 1200px;
