$base-font-size: 16px;
$base-line-height: 24px;

$museo-sans-100: "MuseoSans-100", Helvetica, sans-serif;
$museo-sans-300: "MuseoSans-300", Helvetica, sans-serif;
$museo-sans-500: "MuseoSans-500", Helvetica, sans-serif;
$museo-500: "Museo-500", Georgia, Serif;
$museo-300: "Museo-300", Georgia, Serif;
$consolas: Consolas, Monaco, 'Andale Mono', monospace;
$font-icons: "fontello";
$fontello-id: 11062114;