---
layout: page
title: Projects
description: Projects I've created and released.
---
<div class="container">
    <div class="projects">
        <h2>Projects</h2>
        <p>Here are some projects I've spent time on and published on <a href="https://github.com/tomdiggle">GitHub</a>. I try and update these as much as possible. If you have any questions please <a href="mailto:tom@tomdiggle.com" title="Send an email to tom@tomdiggle.com">get in touch</a>.</p>
        <section id="projects">
            {% for project in site.data.projects %}
                {% include project.html %}
            {% endfor %}
        </section>
    </div>
</div>
