.widget-available-for-work {
    padding: 1em 0;
    background: $color__white-smoke;
    border-top: 1px $color__light-grey solid;
    border-bottom: none;
    
    .get-in-touch {
        padding-top: 1.4em;
        text-align: center;
        overflow: hidden;
    }
}
