.site-footer {
    padding: 1em 0;
    text-align: center;

    .connect {
        @at-root #{&}__icon {
            font-size: modular-scale(4);
        }
    }

    .credits {
        padding-top: 1em;
    }
}
