.site-footer {
    padding: 1em 0;
    text-align: center;

    .connect {
        @at-root #{&}__icon {
            @include adjust-font-size-to(30px);
        }
    }

    .credits {
        padding-top: 1em;
    }
}
