.site-header {
    padding: 1.6em 0 0;
    text-align: center;

    @at-root #{&}__cover-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
    }
}

.site-branding {
    @at-root #{&}__name {
        margin: .2em 0;
        font-family: $museo-500;
        font-size: modular-scale(3);
    }

    @at-root #{&}__link {
        color: $jet;

        &:hover {
            color: $action-color;
            text-decoration: none;
        }
    }
}
