.site-header {
    padding: 1.6em 0 0;
    text-align: center;
}

.site-branding {
    @at-root #{&}__name {
        margin: .2em 0;
        font-family: $museo-500;
        font-size: modular-scale(3);
    }

    @at-root #{&}__link {
        color: $jet;

        &:hover {
            color: $action-color;
            text-decoration: none;
        }
    }
}
