.site-main {
    padding: 3em 0 0;
}

.page-title {
    margin-top: 5em;
    color: $snow;
}

// Project shown on work page
.project {
    padding: 1.4em 0;
}

// Articles
.article {
    max-width: 768px;
    padding: 0 0 2.4em;
    margin: 0 auto;

    @at-root #{&}__excerpt p {
        margin: 0 0 .4em;
    }

    @at-root #{&}__content {
        padding: 1em 0 0;
    }

    @at-root #{&}__continue-reading {
        color: $base-font-color;

        &:hover {
            text-decoration: none;
            color: $action-color;
        }

        &:after {
            font-family: $font-icons;
            content: '\e80e';
            margin-left: .6em;
        }
    }
}

.article-header {
    padding: 0 0 0;

    @at-root #{&}__title {
        font-size: modular-scale(2);
        margin: 0;
    }

    @at-root #{&}__pubdate {
        margin: 0;
        color: tint($jet, 15%);
        font-size: modular-scale(-1);
    }

    @at-root #{&}__link {
        color: $base-font-color;

        &:hover {
            color: $action-color;
            text-decoration: none;
        }
    }
}

// Category
.category {
    @at-root #{&}__title {
        display: none;

        @include breakpoint($medium-screen) {
            display: inline-block;
            float: left;
            border: none;
        }
    }

     @at-root #{&}__link {
        border: none;

        &:hover,
        &:focus {
            background-color: transparent;
        }
     }

    @at-root #{&}__post {
        position: relative;

        @include breakpoint($small-screen) {
            padding-left: 5em;
            margin-left: 5em;
        }
    }

    @at-root #{&}__pubdate {
        color: tint($jet, 20%);

        @include breakpoint($medium-screen) {
            position: absolute;
            text-align: right;
            left: 0em;
            top: .6em;

            .year {
                display: none;
            }
        }
    }

    @at-root #{&}__categories {
        a {
            color: tint($jet, 20%);
        }
    }
}
