.site-main {
    padding: 2em 0 0;
}

.container {
    padding: 0 .8em;
    margin: 0 auto;

    @media (min-width: $small-screen) {
        width: 750px;
    }

    @media (min-width: $medium-screen) {
        width: 970px;
    }

    @media (min-width: $large-screen) {
        width: 1170px;
    }
}

// Projects
.projects {
    max-width: 940px;
    margin: 0 auto;
}

.project {
    padding: 1em 0;

    @at-root #{&}__header {
        margin: 0 0 .4em;
        position: relative;
    }

    @at-root #{&}__title {
        margin: 0;
        padding: 0 0 0 .4em;
        display: inline-block;
        position: absolute;
        top: 10px;
    }

    @at-root #{&}__icon {
        display: inline-block;
        width: 60px;
        height: 60px;
    }

    @at-root #{&}__spacer {
        margin: 0 0 .8em;
        padding: 0;
    }

    @at-root #{&}__image {
        // max-width: 960px;
        max-height: 640px;
    }

    @at-root #{&}__copy {
        margin: .6em 0;
    }
}

// Posts
.posts {
    max-width: 768px;
    margin: 0 auto;
}

.post {
    padding: 0 0 2.4em;

    @at-root #{&}__excerpt p {
        margin: 0 0 .4em;
    }

    @at-root #{&}__content {
        padding: .4em 0 0;
    }

    @at-root #{&}__continue-reading {
        color: $base-font-color;

        &:hover {
            text-decoration: none;
            color: $action-color;
        }

        &:after {
            font-family: $font-icons;
            content: '\e80e';
            margin-left: .6em;
        }
    }
}

.post-header {
    padding: 0;
    margin: 0 0 .4em;

    @at-root #{&}__title {
        font-size: modular-scale(1);
        margin: 0;
    }

    @at-root #{&}__pubdate {
        margin: 0;
        color: tint($jet, 15%);
        font-size: modular-scale(-1);
    }

    @at-root #{&}__link {
        color: $base-font-color;

        &:hover {
            color: $action-color;
            text-decoration: none;
        }
    }
}
