.widget-available-for-work {
    padding: 1em 0;
    background: $white-smoke;
    border-top: 1px $light-gray solid;
    border-bottom: none;

    .get-in-touch {
        padding-top: 1.4em;
        text-align: center;
        overflow: hidden;
    }
}

.widget-share-entry {
    padding: 1.4em 0 2em;

    @at-root #{&}__title {
        margin-bottom: .6em;
    }
}
