.page-title {
    margin-top: 5em;
    color: $snow;
}

/* Project shown on work page */
.project {
    padding: 1.4em 0;
}

.post-header {
    @include breakpoint($small-screen) {
        padding-left: 26%;
    }

    @include breakpoint($medium-screen) {
        padding-left: 17%;
    }

    @at-root #{&}__link {
        border: none;
    }
}

.post-footer {
    @include breakpoint($small-screen) {
        padding-left: 26%;
    }

    @include breakpoint($medium-screen) {
        padding-left: 17%;
    }
}

.category {
    @at-root #{&}__title {
        display: none;

        @include breakpoint($medium-screen) {
            display: inline-block;
            float: left;
            border: none;
        }
    }

     @at-root #{&}__link {
        border: none;

        &:hover,
        &:focus {
            background-color: transparent;
        }
     }

    @at-root #{&}__post {
        position: relative;

        @include breakpoint($small-screen) {
            padding-left: 5em;
            margin-left: 5em;
        }
    }

    @at-root #{&}__pubdate {
        color: tint($jet, 20%);

        @include breakpoint($medium-screen) {
            position: absolute;
            text-align: right;
            left: 0em;
            top: .6em;

            .year {
                display: none;
            }
        }
    }

    @at-root #{&}__categories {
        a {
            color: tint($jet, 20%);
        }
    }
}
