input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    margin: 0 0 1em 0;
    padding: .4em;
    background: #f3f3f3;
    width: 100%;
    font-size: 1em;
    height: auto;
    outline: none;
    border: 1px $separator-color solid;
    border-radius: 4px;
    @include transition(all .30s ease-in-out);
    
    &:focus {
        border: 1px solid $color__deep-sky-blue;
    }
}

textarea {
    height: 180px;
}
