html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background: $selection-background-color;
    color: $selection-color;
}

::-moz-selection {
    background: $selection-background-color;
    color: $selection-color;
}
