blockquote {
    background: $white-smoke;
    margin: 0 1.5em;
    padding: 1em .4em .4em;
    border-left: 2px solid $deep-sky-blue;
}

pre {
    background: #F5F5F5;
    padding: .2em;
    font-family: $consolas;
    font-size: modular-scale(-1);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    border-radius: 6px;
}

:not(pre) > code {
    background: #F5F5F5;
    padding: .2em;
    font-family: $consolas;
    font-size: modular-scale(-1);
    border-radius: 4px;
}

em {
    font-size: modular-scale(-3);
}
