#{ headings(1, 2) } {
    font-family: $museo-500;
    font-weight: normal;
    font-style: normal;
}

#{ headings(3, 6) } {
    font-family: $museo-300;
    font-weight: normal;
    font-style: normal;
}

h1 {
    @include adjust-font-size-to(36px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(21px);
}

h4 {
    @include adjust-font-size-to(18px);
}

h5 {
    @include adjust-font-size-to(16px);
}

h6 {
    @include adjust-font-size-to(14px);
}

.project__title {
    line-height: normal;
}

.post__title {
    border: none;

    a {
        border: none;
    }

    @include breakpoint($breakpoint__sm) {
        padding-left: 26%;
    }

    @include breakpoint($breakpoint__md) {
        padding-left: 17%;
    }
}
