#{ headings(1, 2) } {
    font-family: $museo-500;
    font-weight: normal;
    font-style: normal;
}

#{ headings(3, 6) } {
    font-family: $museo-300;
    font-weight: normal;
    font-style: normal;
}

h1 {
    @include adjust-font-size-to(36px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(21px);
}

h4 {
    @include adjust-font-size-to(18px);
}

h5 {
    @include adjust-font-size-to(16px);
}

h6 {
    @include adjust-font-size-to(14px);
}

.home .site-header .header-intro h2 {
    @include breakpoint($breakpoint-mobile-max) {
        margin: 0 5em;
    }

    @include breakpoint($breakpoint-tablet-max) {
        margin: 0 10em;
    }
}

.site-main section h2 {
    border-bottom: 1px $color__light-grey solid;
    margin-bottom: .6em;
}

.project__title {
    line-height: normal;
}

.post__title {
    border: none;

    a {
        border: none;
    }

    @include breakpoint($breakpoint-tablet-max) {
        padding-left: 20%;
    }
}
