---
layout: page
title: Work
description: You can see some of my work below. As I complete more, I'll add it here.
twitter_description: A small collection of my latest work.
---

<section id="freelance">
    <h2 id="freelance">Freelance</h2>
    <ul class="cf">
        {% for project in site.data.work_freelance %}
            {% include work/project.html %}
        {% endfor %}
    </ul>
</section>

<section id="personal">
    <h2 id="personal">Personal</h2>
    <ul class="cf">
        {% for project in site.data.work_personal %}
            {% include work/project.html %}
        {% endfor %}
    </ul>
</section>

<section id="open-source">
    <h2 id="open-source">Open Source</h2>
    <ul class="cf">
        {% for project in site.data.work_opensource %}
            {% include work/project.html %}
        {% endfor %}
    </ul>
</section>
