---
layout: page
title: Portfolio
description: Websites and apps I've designed and developed for clients.
---
<div class="container">
    <div class="projects">
        <h2>Web Design and Build</h2>
        <p></p>

        <p><strong>I’m currently available</strong>, if you have a project you’d like to discuss you can email me <a href="mailto:tom@tomdiggle.com" title="Send an email to tom@tomdiggle.com">tom@tomdiggle.com</a> or take a look at the work I’ve done below or <a href="{{ site.baseurl }}/apps/" title="View my apps">my apps</a> I've published.</p>

        <section id="portfolio">
            {% for project in site.data.portfolio %}
                {% include project.html %}
            {% endfor %}
        </section>
    </div>
</div>
