*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: $color__background-body;
    color: $color__text-main;
    font-family: $museo-sans-300;
}

::selection {
    background: $color__deep-sky-blue;
    color: $color__white-smoke;
}

::-moz-selection {
    background: $color__deep-sky-blue;
    color: $color__white-smoke;
}

@import "../layout/header";
@import "primary/_pages-posts";
@import "primary/_asides";
@import "../layout/footer";
