@import "lists";

section {
    margin-bottom: .6em;
}

.post-img__medium {
    max-width: 667px;
    max-height: 488px;
}

.site-branding__logo {
    max-width: 220px;
}

.article-separator {
    margin: 1.6em 0;
}

.post__content p:first-child {
    margin-top: 0;
}

.project__copy {
    margin: .2em 0;
}

.post__content p {
    margin: .6em 0;
}

.post__content img {
    margin: 1.4em auto;
    display: block;
}
