@import "lists";

em {
    font-size: .6em;
}

img {
    max-width: 100%;
    height: auto;
}

.site-branding__logo {
    max-width: 220px;
}

label {
    display: block;
    margin-bottom: .4em;
}

section {
    margin-bottom: .6em;
}

hr {
    background: $color__background-hr;
    border: 0;
    height: 1px;
    @include box-sizing(content-box);
}

.article-separator {
    margin: 1.6em 0;
}

.post__content p:first-child {
    margin-top: 0;
}

.project__copy {
    margin: .2em 0;
}

.post__content p {
    margin: .6em 0;
}

.post__content img {
    margin: 1.4em auto;
    display: block;
}
