ol {
    list-style-type: decimal;
}

.skills {
    @include column-count(1);
    
    @include breakpoint($breakpoint__md) {
       @include column-count(3);
    }
}

.skill {
    @include inline-block;
    width: 100px;
}

.connect__list {
    padding: 0 .7em 0 1em;
    display: inline-block;
}
