ol {
    list-style-type: decimal;
}

.main-navigation {
    padding: 0;
    font-family: $museo-sans-100;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    width: 100%;
    @include adjust-font-size-to(21px);
    @include column-count(3);
    @include column-gap(0);
    
    @include breakpoint($breakpoint__sm-min) {
        padding: .3em 0 0;
    }

    @at-root #{&}__list {
        text-align: center;
    }
}

/* Projects shown on work page */
.project {
    padding: 0 .2em 1.4em;
    margin: 1.9em .4em 0;
    border-bottom: 1px $color__light-grey solid;
    
    &:last-child {
        border: none;
    }
    
    @at-root #{&}__info {
        @include breakpoint($breakpoint-mobile-max) {
            margin-left: 1em;
        }
    }
}

/* Latest work section on homepage */
.latest-work {
    @at-root #{&}__row {
        margin-top: 1.6em;
        @include column-count(1);

        @include breakpoint($breakpoint-mobile-max) {
            @include column-count(2);
        }

        @include breakpoint($breakpoint-tablet-max) {
            @include column-count(3);
        }
    }
    
    @at-root #{&}__list {
        border: 1px solid $color__white-smoke;
        margin-bottom: 1.4em;
        @include inline-block;
        width: 100%;
    }
}

.skills {
    @include column-count(1);
    
    @include breakpoint($breakpoint-tablet-max) {
       @include column-count(3);
    }
}

.skill {
    @include inline-block;
    width: 100px;
}
