---
layout: page
title: My Apps
description: Apps that I've designed, created and published myself.
---
<div class="container">
    <div class="posts">
        <p>
            Below are apps that I've designed, created and published myself. You can view the work I've done for clients <a href="{{ site.baseurl }}/portfolio/">on my portfolio</a>.
        </p>
    </div>
    <div class="projects">
        <section id="my-apps">
            {% for project in site.data.apps %}
                {% include project.html %}
            {% endfor %}
        </section>
    </div>
</div>
