@include establish-baseline;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: $museo-sans-300;
    color: $jet;
    background-color: #FFF;
}

::selection {
    background: $deep-sky-blue;
    color: $white-smoke;
}

::-moz-selection {
    background: $deep-sky-blue;
    color: $white-smoke;
}

a {
    color: $white-smoke;
    text-decoration: none;
    
    &:hover,
    &:active {
        color: $deep-sky-blue;
        @include single-transition(all, .3s, ease-in-out, 0); 
    }
}

a.more:after {
    font-family: $font-icons;
    content: '\e805';
    margin-left: .6em;
}

[class^="btn"]:after {
    font-family: $font-icons;
    content: '\e804';
    margin-left: .6em;
}

a.btn {
    color: $deep-sky-blue;
    border: 1px $deep-sky-blue solid;
    padding: .4em .9em;
    @include adjust-font-size-to(14px);
    @include inline-block;
    @include border-radius(4px 4px);
    
    &:hover,
    &:active {
        color: #FFFFFF;
        background: $deep-sky-blue;
    }
}

a.btn.large {
    padding: .8em 3em;
    @include adjust-font-size-to(18px);
}

#{ headings(1, 2) } {
    font-family: $museo-500;
    font-weight: normal;
    font-style: normal;
}

#{ headings(3, 6) } {
    font-family: $museo-300;
    font-weight: normal;
    font-style: normal;
}

h1 {
    @include adjust-font-size-to(36px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(21px);
}

h4 {
    @include adjust-font-size-to(18px);
}

h5 {
    @include adjust-font-size-to(16px);
}

h6 {
    @include adjust-font-size-to(14px);
}

em {
   font-size: .6em;
   
   a {
        color: #8e8e8e;
   }
}

img {
    width: 100%;
    height: auto;
}

label {
    display: block;
    margin-bottom: .4em;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    margin: 0 0 1em 0;
    padding: .4em;
    background: #f3f3f3;
    width: 100%;
    font-size: 1em;
    height: auto;
    outline: none;
    border: 1px $separator-color solid;
    border-radius: 4px;
    @include transition(all .30s ease-in-out);
    
    &:focus {
        border: 1px solid $deep-sky-blue;
    }
}

textarea {
    height: 180px;
}

button {
    padding: .6em;
    background: adjust-lightness($deep-sky-blue, 10%);
    border: 1px adjust-lightness($deep-sky-blue, 30%) solid;
    color: #FFFFFF;
    width: 100%;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover,
    &:active {
        background: $deep-sky-blue;
        @include single-transition(all, .3s, ease-in-out, 0);
    }
}
