.post {
    padding-bottom: 2em;
    margin-bottom: 2em;
    @include clearfix;

    a {
        color: $jet;

        &:hover {
            @extend .link-fadeinbg:hover;
        }

        &:focus {
            @extend .link-fadeinbg:focus;
        }
    }

    .title {
        padding-left: 20%;
        border: none;
        
        @include breakpoint($breakpoint-mobile-min $breakpoint-tablet-max) {
            padding: 0;
        }
    }

    aside {
        margin-bottom: 1em;
        color: tint($jet, 20%);
        @include adjust-font-size-to(14px);

        a {
            color: tint($jet, 20%);
            
            &:hover {
                @extend .link-fadeinbg:hover;
            }

            &:focus {
                @extend .link-fadeinbg:focus;
            }
        }
    }

    section {
        position: relative;
        z-index: 1;
        backface-visibility: hidden;

        p:first-child {
            margin-top: 0;
        }

        .continue {
            margin-top: .4em;
        }

        a {
            @extend .link-fadeinbg;
        }
    }
}

.pagination {
    margin-bottom: 1em;
    text-align: center;
    
    a {
        padding: 1em;
        margin: 0 1em;
        color: $jet;
        
        &:hover {
            @extend .link-fadeinbg:hover;
        }
        
        &:focus {
            @extend .link-fadeinbg:focus;
        }
    }
    
    .older:before {
        font-family: $font-icons;
        content: '\e80d';
        margin-right: .6em;
    }
    
    .newer:after {
        font-family: $font-icons;
        content: '\e80e';
        margin-left: .6em;
    }
}