.posts {
    .post {
        padding-bottom: 2em;
        margin-top: 2em;
        border-bottom: 1px $separator-color solid;
        @include clearfix;
        
        &:first-child {
            margin-top: 0;
        }
        
        &:last-child {
            border: none;
        }
    
        .title {
            border: none;
            
            a {
                border: none;
            }
    
            @include breakpoint($breakpoint-tablet-max) {
                padding-left: 20%;
            }
        }
    
        .continue-reading {
            border: none;
            @include adjust-font-size-to(14px);
    
            &:after {
                font-family: $font-icons;
                content: '\e80e';
                margin-left: .6em;
            }
        }

        aside {
            margin-bottom: 1em;
            color: tint($color__jet, 20%);
            @include adjust-font-size-to(14px);

            @include breakpoint($breakpoint-tablet-max) {
                padding-right: .4em;
            }
    
            a {
                color: tint($color__jet, 20%);
                border: none;
    
                &:hover {
                    @extend .link-fadeinbg:hover;
                }
                
                &:focus {
                    @extend .link-fadeinbg:focus;
                }
            }
        }
    
        section {
            p:first-child {
                margin-top: 0;
            }
        }
    }
}

.blog-archives {
    h2 {
        display: none;
        
        @include breakpoint($breakpoint-mobile-max) {
            display: inline-block;
            float: left;
            border: none;
        }
    }
    
    a {
        border: none;
    }
    
    article {
        position: relative;
        
        @include breakpoint($breakpoint-mobile-max) {
            padding-left: 5em;
            margin-left: 5em;
        }
        
        h3 {
            border: none;
        }
        
        time {
            color: tint($color__jet, 20%);
            
            @include breakpoint($breakpoint-mobile-max) {
                position: absolute;
                text-align: right;
                left: 0em;
                top: .6em;
                
                .year {
                    display: none;
                }
            }
        }
        
        .categories {
            a {
                color: tint($color__jet, 20%);
                
                &:hover {
                    @extend .link-fadeinbg:hover;
                }
                
                &:focus {
                    @extend .link-fadeinbg:focus;
                }
            }
        }
    }
}