#contact-form {
    margin: 1em 0;
    
    #contact_status {
        text-align: center;
        
        .error {
            color: #ff1919;
        }
        
        .success {
            color: #198c19;
        }
    }
}
