.about {
    text-align: center;
    
    p {
        @include adjust-font-size-to(18px);
        margin: 0 0 1em;
        
        @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
            span {
                display: block;
                margin: .5em;
            }
        }
    }
}

.latest-work {
    padding: .4em 0;
    
    h2 {
        margin-bottom: 1em;
        border-bottom: 1px $separator-color solid;
    }
    
    ul.projects {
        margin: 0 auto;
        text-align: center;
        @include column-count(3);
        
        li {
            border: 1px #EDEDED solid;
            margin-bottom: 1.4em;
            text-align: left;
            @include inline-block;
            
            img {
                max-width: 326px;
                max-height: 225px;
                opacity: .8;
                
                &:hover {
                    opacity: 1;
                }
            }
            
            p {
                background: #EDEDED;
                padding: .1em 0;
                @include adjust-font-size-to(14px);
                
                a {
                    color: #000;
                }
            }
        }
    }
    
    @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
        ul.projects {
           @include column-count(1); 
        }
    }
}

.available-for-work {
    background: #F5F5F5;
    padding: 1em 1em;
    border-top: 1px $separator-color solid;
    
    .contact {
        text-align: center;
    }
    
    a {
        margin-top: 1.5em;
    }
    
    @include breakpoint($breakpoint-mobile-min $breakpoint-tablet-max) {
        h2, p {
            text-align: center;
        }
    }
}
