.about {
    text-align: center;
    
    p {
        @include adjust-font-size-to(18px);
        margin: 0 0 1em;
        
        @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
            span {
                display: block;
                margin: .5em;
            }
        }
    }
}

.latest-work {
    padding: .4em 1em;
    background: #FFFFFF;
    
    h2 {
        margin-bottom: 1em;
        border-bottom: 1px $separator-color solid;
    }
    
    .projects {
        @include column-count(3);
        
        @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
            @include column-count(1);
        }
        
        li {
            text-align: center;
            border: 1px $white-smoke solid;
            margin-bottom: 1.4em;
            @include inline-block;
            
            a:hover .overlay {
                visibility: visible;
                opacity: 1;
                @include single-transition(opacity, .3s, ease-in-out, 0);
            }
            
            p {
                margin-top: 1.45em;
            }
            
            hr {
                background: $white-smoke;
                border: none;
                height: 1px;
                width: 30%;
            }
            
            img {
                max-width: 326px;
                max-height: 225px;
            }
            
            .container {
                color: rgba(255, 255, 255, 1);
                display: block;
                position: relative;
                    
                .overlay {
                    padding: 4em 0;
                    background: rgba($deep-sky-blue, .7);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }
}
