.home {
    #header {
        background-image: url('/assets/images/home-cover-03.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.header-intro {
    padding: 3em 1em 6em;
    text-align: center;

    h2 {
        @include breakpoint($breakpoint-mobile-max) {
            margin: 0 5em;
        }

        @include breakpoint($breakpoint-tablet-max) {
            margin: 0 10em;
        }
    }

    p {
        margin: 2.7em 0;
        @include adjust-font-size-to(18px);

        span {
            display: block;
            margin: .4em;
            
            @include breakpoint($breakpoint-mobile-max) {
                display: inline-block;
            }
        }
    }
}
