.container {
    max-width: $max-width;
    margin: 0 auto;
    @include clearfix;
}

#header {
    background: $jet;
    padding: 1em;
    
    @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
        padding: .5em;
        text-align: center;
    }
    
    h1 {
        a {
            span {
                color: $deep-sky-blue;
            }
            
            &:hover {
                color: $white-smoke;
            }
        }
    }
  
    menu {
        font-family: $museo-sans-100;
        font-weight: normal;
        font-style: normal;
        float: right;
        list-style: none;
        @include adjust-font-size-to(21px);
        @include column-count(4);
        @include column-gap(0);
    
        li {
            text-align: center;
                        
            &:hover {
                background: tint($jet, 4%);
            }
        }
        
        a {
            display: block;
        }    
    }
}

#footer {
    background: $jet;
    @include adjust-font-size-to(14px);
    color: $white-smoke;
    padding: 1em;
        
    h3 {
        color: tint($jet, 50%);
        border-bottom: 1px tint($jet, 50%) solid;
    }
    
    .latest-post {
        margin-right: 8%;
        
        .title {
            margin-top: .6em;
        }
    
        .excerpt {
            margin: .2em 0;
        }
    }
    
    .connect {
        ul {
            margin-top: .8em;
            
            li {
                span {
                    font-size: 26px;
                }
            }
        }
    }

    .about-me {
        float: right;

        p {
            margin-top: .8em;
        }

        img {
            float: right;
            max-width: 90px;
            max-height: 87px;
            display: inline;
            margin-left: .4em;
        }
    }

    .credits {
        border-top: 1px tint($jet, 50%) solid;
        margin-top: 1.5em;
        padding-top: 1em;
        @include clearfix;

        .rss {
            text-align: right;
            font-size: 2em;
        }
    }
}

.content-header,
.content-footer {
    background: $white-smoke;
    border-bottom: 1px $separator-color solid;
    padding: .4em 1em .4em;
    
    a {
        color: $deep-sky-blue;
    }
}

.content-footer {
    border-top: 1px $separator-color solid;
    border-bottom: none;
}
