.container {
    max-width: $max-width;
    margin: 0 auto;
    @include clearfix;
}

#header {
    background: $brown;
    padding: 1em;
    
    @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
        padding: .5em;
        text-align: center;
    }
    
    h1 {
        a {
            span {
                color: $blue;
            }
            
            &:hover {
                color: $font-color-light;
            }
        }
    }
  
    menu {
        float: right;
        list-style: none;
        @include adjust-font-size-to(21px);
        @include column-count(4);
        @include column-gap(0);
    
        li {
            text-align: center;
                        
            &:hover {
                background: tint($brown, 4%);
            }
        }
        
        a {
            display: block;
        }    
    }
}

#footer {
    background: $brown;
    @include adjust-font-size-to(14px);
    color: $font-color-light;
    padding: 1em;
        
    h3 {
        color: #a1a1a1;
        border-bottom: 1px #a1a1a1 solid;
    }
    
    .latest-post {
        margin-right: 8%;
    }
    
    .connect {
        ul {
            margin-top: .8em;
            
            li {
                span {
                    font-size: 26px;
                }
            }
        }
    }
    
    .about-me {
        float: right;
        
        p {
            margin-top: .8em;
        }
        
        img {
            float: right;
            max-width: 90px;
            max-height: 87px;
            display: inline;
            margin-left: .4em;
        }
    }
    
    .copyright {
        border-top: 1px #a1a1a1 solid;
        margin-top: 1.5em;
        padding-top: 1em;
        clear: both;
        float: left;
        width: 100%;
    }
}

.content-header,
.content-footer {
    background: #F5F5F5;
    border-bottom: 1px $separator-color solid;
    padding: .4em 1em .4em;
}

.content-footer {
    border-top: 1px $separator-color solid;
    border-bottom: none;
}
