.page {
    background: #FFFFFF;
    padding: 1em 1em;
    
    a {
        @extend .link-fadeinbg;
    
        &:hover {
            @extend .link-fadeinbg:hover;
        }
    
        &:focus {
            @extend .link-fadeinbg:focus;
        }
    }
    
    h2 {
        border-bottom: 1px $separator-color solid;
    }
    
    p {
        margin: .6em 0;
    }

    .skills {
        @include column-count(1);
        
        @include breakpoint($breakpoint-tablet-max) {
           @include column-count(3);
        }
    }

    .skill {
        @include inline-block;
        width: 100px;
    }
}

.available-for-work {
    background: $white-smoke;
    padding: 1em 1em;
    border-top: 1px $separator-color solid;

    .contact {
        text-align: center;
    }

    a {
        margin-top: 1.5em;
    }
}
