.page {
    padding: 0 1em;
    
    h2 {
        border-bottom: 1px $separator-color solid;
    }
    
    p {
        margin: .6em 0;
    }

    .skills {
        @include column-count(3);
        
        @include breakpoint($breakpoint-mobile-min $breakpoint-mobile-max) {
           @include column-count(1);
        }
    }

    .skill {
        @include inline-block;
        width: 100px;
    }
}

.available-for-work {
    background: $white-smoke;
    padding: 1em 1em;
    border-top: 1px $separator-color solid;

    .contact {
        text-align: center;
    }

    a {
        margin-top: 1.5em;
    }

    @include breakpoint($breakpoint-mobile-min $breakpoint-tablet-max) {
        h2, p {
            text-align: center;
        }
    }
}
