// Legacy support
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

// Experimental support
$experimental-support-for-opera: false;

// Typography
$base-font-size: 16px;
$base-line-height: 24px;

// Layout
$max-width: 1024px;
$breakpoint-tablet-min: 611px;
$breakpoint-tablet-max: 1024px;
$breakpoint-mobile-max: 610px;
$breakpoint-mobile-min: 320px;

// Colors
$deep-sky-blue: #00BFFF;
$jet: #343434;
$white-smoke: #F5F5F5;
$separator-color: #e0e0e0;

// Fonts
$font-main: "MuseoSans-300", Helvetica, sans-serif;
$font-secondary-500: "Museo-500", Georgia, Serif;
$font-secondary-300: "Museo-300", Georgia, Serif;
$font-icons: "fontello";
$fontello-id: 2817388;