---
layout: page
title: Blog
twitter_description: The blog of Tom Diggle.
---
{% assign index = true %}
<div class="posts">
{% for post in paginator.posts %}
{% assign content = post.excerpt %}
    <article class="post">
        {% include post.html %}
    </article>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination cf">
    <nav role="navigation">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__previous" title="View older posts">Older</a>
    {% endif %}
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__next" title="View newer posts">Newer</a>
    {% endif %}
    </nav>
</div>
{% endif %}
