{% if site.available_for_work %}
<div class="page-footer">
    <div class="container">
        <div class="grid-60 grid-tablet-100 grid-mobile-100">
            <h2>I'm available for freelance work!</h2>
            <p>Regardless of your budget or location get in touch with me and we'll see if we can bring your idea to life.</p>
        </div>
        <div class="get-in-touch grid-40 grid-tablet-100 grid-mobile-100">
            <a href="{{ site.baseurl }}/contact/" class="btn large">Work with me!</a>
        </div>
    </div>
</div>
{% endif %}
