<footer id="footer" class="site-footer">
    <ul class="connect">
    {% for account in site.data.social_accounts %}
        <li class="connect__list"><a href="{{ account.link }}" class="connect__link"><span class="connect__icon {{ account.css-selector }}"></span></a></li>
    {% endfor %}
        <li class="connect__list"><a href="{{ site.rssfeed }}" class="connect__link"><span class="connect__icon icon-rss-squared"></span></a></li>
    </ul>
    <div class="credits">
        <p>Copyright &copy; 2014-2016 {{ site.author.site }}.</p>
    </div>
</footer>
