<header id="header" class="site-header">
    <div class="logo">
        <div class="container">
            <h1 class="grid-30 grid-mobile-100"><a href="{{ site.baseurl }}/">tom<span>diggle</span></a></h1>
            <menu id="site-navigation" class="main-navigation grid-53 grid-mobile-100">
                <li class="main-navigation__list"><a href="{{ site.baseurl }}/about/" class="main-navigation__link">About</a></li>
                <li class="main-navigation__list"><a href="{{ site.baseurl }}/work/" class="main-navigation__link">Work</a></li>
                <li class="main-navigation__list"><a href="{{ site.baseurl }}/contact/" class="main-navigation__link">Contact</a></li>
                <li class="main-navigation__list"><a href="{{ site.baseurl }}/" class="main-navigation__link">Blog</a></li>
            </menu>
        </div>
    </div>
    <div class="page__title">
        <div class="container">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </div>
    </div>
</header>
