<header id="header">
    <div class="logo">
        <div class="container">
            <h1 class="grid-30 grid-mobile-100"><a href="{{ site.baseurl }}/">tom<span>diggle</span></a></h1>
            <menu class="grid-53 grid-mobile-100">
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/work/">Work</a></li>
                <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            </menu>
        </div>
    </div>
    {% if page.path == "index.html" %}
        {% include custom/header_homepage.html %}
    {% else %}
        <div class="page-header">
            <div class="container">
                <h2>{{ page.title }}</h2>
                <p>{{ page.description }}</p>
            </div>
        </div>
    {% endif %}
</header>
