{% if homepage %}
    <header class="post-header">
        <h2 class="post-header__title">
            <a href="{{ post.url }}" class="post-header__link" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <p class="post-header__pubdate">{% include post/pubdate.html %}</p>
    </header>
    <div class="post__excerpt">
        {{ content }}
    </div>
    <div>
        <a href="{{ post.url }}" class="post__continue-reading" title="Continue reading {{ post.title }}">Continue reading</a>
    </div>
{% else %}
    <header class="post-header">
        <h2 class="post-header__title">{{ page.title }}</h2>
        <p class="post-header__pubdate">{% include post/pubdate.html %}</p>
    </header>
    <div class="post__content">
        {{ content }}
    </div>

    <nav class="pagination">
        {% if page.previous %}
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--next" title="{{ page.next.title }}">{{ page.next.title }}</a>
        {% endif %}
    </nav>
{% endif %}
