{% if index %}
<header class="post-header"><h2 class="post-header__title"><a href="{{ post.url }}" class="post-header__link">{{ post.title }}</a></h2></header>
{% else %}
{% unless page.cover_image %}
<header class="post-header"><h2 class="post-header__title">{{ page.title }}</h2></header>
{% endunless %}
{% endif %}
<div class="row">
    <aside class="post__meta col-sm-3 col-md-2">
        {% include post/meta.html %}
    </aside>
    <div class="post__content col-sm-9 col-md-10">
        {{ content }}
        {% if index %}
        <a href="{{ post.url }}" class="post__continue-reading" title="Continue reading {{ post.title }}">Continue reading</a>
        {% endif %}
    </div>
</div>

{% unless index %}
<footer class="post-footer">
    {% include post/share.html %}
    <hr>
</footer>
{% endunless %}
