<article id="{{ project.anchor }}" class="project">
    <header class="project__header">
        {% if project.icon %}
            {% img '{{ project.icon }}' width:"60" height:"60" class:"project__icon" alt:"Icon of {{ project.title }}" %}
            <h2 class="project__title">
        {% else %}
            <h2>
        {% endif %}
        {{ project.title }}
            <em>
                <p>
                    <a href="http://{{ project.url }}" class="link-more link-more--reverse">{{ project.url }}</a>
                </p>
            </em>
        </h2>
    </header>

    <hr class="project__spacer">

    {% if project.image %}
        <div>
            {% img '{{ project.image }}' width:"940" height:"640" class:"project__image" alt:"Preview of {{ project.title }}" %}
        </div>
    {% endif %}

    <p class="project__copy">{{ project.description }}</p>

    <footer class="project__footer">
        {% if project.roles %}
            <h4>Roles</h4>
            <p>{{ project.roles }}</p>
        {% endif %}
        {% if project.launched %}
            <h4>Launched</h4>
            <p>{{ project.launched }}</p>
        {% endif %}
        {% if project.retired %}
            <p><strong>Update: </strong>This Project is now retired.</p>
        {% endif %}
    </footer>
</article>
