<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@{{ site.twitter_user }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{% if page.twitter_description %}{{ page.twitter_description }}{% else %}{{ page.description }}{% endif %}">
        <meta name="twitter:creator" content="@{{ site.twitter_user }}">
        {% if page.twitter_image %}
        <meta name="twitter:image:src" content="{{ page.twitter_image}}">
        {% endif %}
        <meta name="twitter:domain" content="{{ site.url }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_path }}">
        <link rel="apple-touch-icon" href="{{ 'favicon.png' | asset_path }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ 'favicon.png' | asset_path }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ 'favicon.png' | asset_path }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ 'favicon.png' | asset_path }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.rssfeed }}">
        {% stylesheet museo %}
        {% stylesheet museosans %}
        {% stylesheet fontello %}
        {% stylesheet tomdiggle %}
    </head>
    <body {% if page.path == "index.html" %} class="home" {% endif %}>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        {% include analytics/google.html %}
        {% javascript jquery-2.1.1.min %}
        {% javascript main %}
    </body>
</html>
