---
layout: "page"
---
<div class="container">
    <article class="article">
        {% include article.html %}
    </article>
</div>

<!-- <div class="container">
    <div class="pagination">
        <nav role="navigation" class="cf">
        {% if page.previous %}
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--next" title="{{ page.next.title }}">{{ page.next.title }}</a>
        {% endif %}
        </nav>
    </div>
</div> -->
