a {
    color: $color__jet;
    outline: none;
    text-decoration: none;
    position: relative;
    display: inline-block;
    @include single-transition(color, .3s, ease-in-out, 0);

    &:hover,
    &:active {
        color: $color__deep-sky-blue;
    }
}

.btn {
    color: $color__deep-sky-blue;
    border: 1px $color__deep-sky-blue solid;
    padding: .4em .9em;
    @include adjust-font-size-to(14px);
    @include inline-block;
    @include border-radius(4px 4px);
    @include single-transition(all, .3s, ease-in-out, 0);

    &:hover,
    &:active {
        color: $color__snow;
        background: $color__deep-sky-blue;
    }

    &:after {
        font-family: $font-icons;
        content: '\e804';
        margin-left: .6em;
    }
    
    @at-root #{&}--large {
        padding: .8em 3em;
        @include adjust-font-size-to(18px);
    }

    @at-root #{&}--white {
        color: $color__snow;
        border: 1px $color__snow solid;

        &:hover {
            border: 1px $color__deep-sky-blue solid;
        }
    }
}

.link-more {
    color: $color__snow;
    border: none;

    &:after {
        font-family: $font-icons;
        content: '\e805';
        margin-left: .6em;
    }
}

.link-more--reverse {
    color: $color__jet;
}

.link-fadeinbg {
    color: $color__jet;
    border-bottom: 1px solid rgba($color__jet, 0.4);
    @include single-transition(all, .3s, ease-in-out, 0);

    &:hover,
    &:focus {
        color: $color__deep-sky-blue;
        border-color: rgba($color__jet, 0);
        background-color: rgba($color__snow, 0.5);
    }

    &:before,
    &:after {
        pointer-events: none;
        backface-visibility: hidden;
    }
}

.latest-work__link {
    width: 100%;
}

.main-navigation {
    font-family: $museo-sans-100;
    font-weight: normal;
    font-style: normal;
    float: right;
    list-style: none;
    @include adjust-font-size-to(21px);
    @include column-count(4);
    @include column-gap(0);

    @at-root #{&}__list {
        text-align: center;
    }

    @at-root #{&}__link {
        color: $color__snow;
    }
}