.site-branding__name {
    margin: .6em 0 0;
    color: $jet;
    font-family: $museo-500;
    font-size: modular-scale(3);

    &:hover {
        color: $action-color;
        text-decoration: none;
    }
}

.main-navigation__link {
    color: $jet;

    &:hover,
    &:focus {
        color: $action-color;
        text-decoration: none;
    }
}

.btn {
    color: $deep-sky-blue;
    border: 1px $deep-sky-blue solid;
    padding: .4em .9em;
    font-size: modular-scale(-1);
    display: inline-block;
    border-radius: 4px;
    transition: color $base-duration $base-timing;

    &:hover,
    &:active {
        color: $snow;
        background: $deep-sky-blue;
    }

    &:after {
        font-family: $font-icons;
        content: '\e804';
        margin-left: .6em;
    }

    @at-root #{&}--large {
        margin-bottom: .1em;
        padding: .8em 3em;
        font-size: modular-scale(1);
    }

    @at-root #{&}--white {
        color: $snow;
        border: 1px $snow solid;

        &:hover {
            border: 1px $deep-sky-blue solid;
        }
    }

    @at-root #{&}--share {
        font-family: $font-icons;
        color: $jet;
        border-color: #E0E0E0;
        width: 60px;
        height: 40px;
        text-align: center;
        border-radius: 2px;

        &:after {
            font-family: inherit;
            content: none;
            margin: 0;
        }
    }

    @at-root #{&}--twitter:before {
        content: '\e80f';
    }

    @at-root #{&}--facebook:before {
        content: '\e810';
    }

    @at-root #{&}--googleplus:before {
        content: '\e811';
    }

    @at-root #{&}--linkedin:before {
        content: '\e812';
    }

    @at-root #{&}--mail:before {
        content: '\e801';
    }
}

.post-header__link {
    color: $base-font-color;

    &:hover {
        text-decoration: none;
    }
}

.post__meta a {
    color: tint($jet, 15%);
    border: none;

    &:hover {
        color: $deep-sky-blue;
    }
}

.post__continue-reading {
    color: $base-font-color;
    margin-top: .2em;
    border: none;
    font-size: modular-scale(-1);

    &:hover {
        text-decoration: none;
    }

    &:after {
        font-family: $font-icons;
        content: '\e80e';
        margin-left: .6em;
    }
}

.link-more {
    color: $snow;
    border: none;

    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
    }

    &:after {
        font-family: $font-icons;
        content: '\e805';
        margin-left: .6em;
    }
}

.link-more--reverse {
    color: $jet;
}

.connect__link {
    color: $base-font-color;
    border: none;

    &:hover,
    &:focus {
        border-color: transparent;
        background-color: transparent;
    }
}
