.main-navigation {
    padding: 0;
    font-family: $museo-sans-100;
    font-weight: normal;
    font-style: normal;
    list-style: none;
    width: 100%;
    @include adjust-font-size-to(21px);
    @include column-count(2);
    @include column-gap(0);
    
    @include breakpoint($breakpoint__sm) {
        padding: .3em 0 0;
    }

    @at-root #{&}__list {
        text-align: center;
    }
}
