.pagination {
    padding: 1.6em 0;

    @at-root #{&}__link {
        color: $base-font-color;
        border: none;

        &:hover {
            text-decoration: none;
        }

        @at-root #{&}--previous {
            float: left;
            text-align: left;

            &:before {
                font-family: $font-icons;
                content: '\e80d';
                margin-right: .6em;
            }
        }

        @at-root #{&}--next {
            float: right;
            text-align: right;

            &:after {
                font-family: $font-icons;
                content: '\e80e';
                margin-left: .6em;
            }
        }
    }
}
