@import "tomdiggle/variables";

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?#{$fontello-id}');
  src: url('fonts/fontello/fontello.eot?#{$fontello-id}#iefix') format('embedded-opentype'),
       url('fonts/fontello/fontello.woff?#{$fontello-id}') format('woff'),
       url('fonts/fontello/fontello.ttf?#{$fontello-id}') format('truetype'),
       url('fonts/fontello/fontello.svg?#{$fontello-id}#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
 
.icon-github-squared:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-linkedin-squared:before { content: '\e802'; } /* '' */
.icon-twitter-squared:before { content: '\e803'; } /* '' */
.icon-right-circled:before { content: '\e804'; } /* '' */
.icon-right:before { content: '\e805'; } /* '' */
.icon-rss-squared:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-star-half-alt:before { content: '\e809'; } /* '' */
