---
layout: page
title: Blog &amp; Portfolio
description: 
---
{% assign homepage = true %}

<section class="posts">
    <h1>Recent Posts</h1>

    {% for post in paginator.posts %}
        {% assign content = post.excerpt %}
        <article class="post">
            {% include post.html %}
        </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <nav class="pagination">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--previous" title="View older posts">Older</a>
        {% endif %}
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination__link pagination__link--next" title="View newer posts">Newer</a>
        {% endif %}
        </nav>
    {% endif %}
</section>
